/* Enleve les bordures blanches */
body,
div#map {
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}

div#map {
    width: 100%;
    height: 100%;
}

select#domaines_brevets {
    position: fixed;
    left: 50px;
    top: 50px;
    background-color: #2200FF22;
    width: 200px;
}

input#annees_brevets {
    position: fixed;
    left: 50px;
    top: 980px;
    background-color: #2200FF22;
    width: 200px;
}

table#listOverlay {
    position: fixed;
    opacity: 1;
    right: 25px;
    top: 80px;
    background-color: #2200FF22;
    width: 100px;
}

div#interface {
    position: fixed;
    opacity: 1;
    left: 5px;
}

table#listNuts {
    position: inherit;
    top: 80px;
    background-color: #2200FF22;
    width: 300px;
}

table#listNuts thead tr th:nth-child(1),
table#listNuts tbody tr td:nth-child(1) {
    width: 15%;
}

table#listNuts tfoot tr th:nth-child(1) {
    width: 35%;
}

table#listNuts tfoot tr th:nth-child(2) {
    width: 20%;
}

table#listNuts thead tr th:nth-child(2),
table#listNuts tbody tr td:nth-child(2) {
    width: 45%;
}

table#listNuts thead tr th:nth-child(3),
table#listNuts tbody tr td:nth-child(3) {
    width: 40%;
}

table#listNuts thead,
table#listNuts tfoot,
table#listBrevets thead,
table#listBrevets tfoot {
    display: block;
    background-color: #2200FF55;
}

table#listNuts thead tr th:nth-child(3),
table#listNuts tbody tr td:nth-child(3),
table#listNuts tfoot tr th {
    background-color: white;
    text-align: center;
}

table#listNuts tbody tr:nth-child(odd) {
    background-color: #0022FF22;
}

table#listNuts tbody tr:hover {
    background-color: white;
}

table#listNuts tbody {
    display: block;
    max-height: 800px;
    overflow-y: scroll;
}